body {
    margin: 0;
    background: url("https://img.freepik.com/premium-vector/hardwood-maple-basketball-court-floor_64749-1768.jpg?size=626&ext=jpg&ga=GA1.2.1351849019.1662112962");
    background-size: cover;
}

@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}

.container {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 575px;
    height: 435px;
    background: #1B244A;
    margin: 10% auto;
    border-radius: 10px;
    border: 5px solid #EEEEEE;
    opacity: 0.9;
}

h3 {
    position: absolute;
    top: 20px;
    width: 149px;
    height: 36px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
}

.team-home {
    left: 85px;
}

.team-guest { 
    left: 340px;
}

.display {
    position: absolute;
    top: 125px;
    width: 155px;
    height: 120px;
    background-color: black;
    border-radius: 5px;
}

.display-home {
    left: 82px;;
}

.display-guest {
    left: 337px;
}

.points-text {
    position: absolute;
    top: 125px;
    width: 117px;
    height: 120px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    margin: 0 auto;
}

.points-home-text {
    left: 100px;
}

.points-guest-text {
    left: 355px;
}

.buttons {
    position: absolute;
    width: 145px;
    height: 45px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    
}

.buttons-home {
    left: 0px;
}


.buttons-guest {
    left: 0px;
    
}

.add-points {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 271px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: #1B244A;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
    cursor: pointer;
}

.add-one-point-home {
    left: 82px;
}

.add-two-points-home {
    left: 136px;
}

.add-three-points-home {
    left: 192px;
}

.add-one-point-guest {
    left: 337px;
}

.add-two-points-guest {
    left: 391px;
}

.add-three-points-guest {
    left: 447px;
}

#reset-btn {
    position: absolute;
    top: 350px;
    left: 186px;
    width: 200px;
    height: 45px;
    font-weight: bold;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: #1B244A;
    color: #9AABD8;
    font-size: 1.5rem;
    font-family: 'Verdana', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}